.decision-wrapper {
  background: radial-gradient(151.98% 64.61% at 50.00% 100.00%, #3E515B 0%, #253137 100%);
}

.decision {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  padding-top: 72px;
  padding-bottom: 76px;

  @include vp-1024 {
    grid-template-columns: 0.8fr 1fr;
    align-items: center;
    padding-top: 205px;
    padding-bottom: 174px;
  }
}

.decision__image-wrapper {
  margin-bottom: 53px;
}

.decision__text-wrapper {
  @include vp-1024 {
    margin-right: 66px;
  }
}

.decision__text {
  width: fit-content;
  color: #F6F8FA;
  font-family: Codec Pro;
  font-size: clamp(24px, 4vw, 60px);
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: -1.2px;
  border-radius: 10px;
  background: #8060F6;
  padding: 5px 10px;
  margin: 0 auto;
  margin-bottom: 22px;

  @include vp-1024 {
    line-height: 100%;
    letter-spacing: -3px;
    padding: 10px 20px;
    margin-right: 0;
    margin-left: 0;
  }
}

.decision__text-description {
  color: #F6F8FA;
  text-align: center;
  font-family: Codec Pro;
  font-size: clamp(24px, 4vw, 60px);
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: -1.2px;
  margin: 0;
  margin-bottom: 82px;

  @include vp-1024 {
    line-height: 100%;
    letter-spacing: -3px;
    text-align: left;
    margin-bottom: 92px;
  }

  span {
    color: #8060F6;
  }
}

// .decision__text-decoration {
//   color: #8060F6;
// }

.decision__howitwork {
  color: #F6F8FA;
  text-align: center;
  font-family: Codec Pro;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 120%;

  p {
    width: 300px;
    margin: 0 auto;
    margin-bottom: 9px;

    @include vp-1024 {
      margin: 0;
      margin-bottom: 18px;
    }
  }

  @include vp-1024 {
    text-align: left;
    width: 60%;
  }
}

.decision__howitwork-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.decision__howitwork-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;

  @include vp-1024 {
    justify-content: left;
  }
}

.decision__howitwork-link {
  display: flex;

  svg {
    @include vp-1024 {
      width: 60px;
      height: 60px;
    }
  }
}
